* {
    margin: 0;
    padding: 0;
}

:root {
    --navy-blue: #2E2F42;
    --navy-blue-modal: #2E2F4266;
    --white: #fff;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --green: #31D0AA;
    --iris: #4D5AE5;
    --light-slate: #8E8F99;
    --ocean: #404BBF;
    --slate: #434455;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
body {font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--slate);
    background-color: var(--white);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--iris);
}
.logo-studio{
    color: var(--navy-blue);
}
.link{
    text-decoration: none;
}
.link:hover,
.link:focus{
    color: var(--ocean);
}
.nav-list-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);   
}
.nav-list-item > a {
    text-decoration: none;
    color: var(--navy-blue);
}

.addresses{
    font-style: normal;

}
.addresses > ul {
    list-style: none;
}
.address-item{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate)
}
.address-item > a {
    text-decoration: none;
    color: var(--slate)
}
.intro{
    background-color:var(--navy-blue);
}
.main-header{
    font-size:56px;
    line-height:1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white)
}
.order-button{
    background-color: var(--iris);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
}
.order-button:hover,
.order-button:focus{
    background-color: var(--ocean);
    cursor: pointer;
}
.list{
    list-style: none;
}
.list-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.description-header{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
}
.our-team-section{
    background-color: var(--cloud);
}
.center{
    text-align: center;
}
.list-item{
    background-color: var(--white);
}
.footer{
    background-color: var(--navy-blue);
}
.logo-studio-footer{
    color: var(--cloud);
}
.text-footer{
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}
.category-button{
    background-color: var(--cloud);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
}
.category-button:hover,
.category-button:focus{
    background-color: var(--ocean);
    color: var(--white);
    cursor: pointer;
}