* {
    margin: 0;
    padding: 0;
}

:root {
    --navy-blue: #2E2F42;
    --navy-blue-modal: #2E2F4266;
    --white: #fff;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --green: #31D0AA;
    --iris: #4D5AE5;
    --light-slate: #8E8F99;
    --ocean: #404BBF;
    --slate: #434455;
    --grey: rgba(46, 47, 66, 0.70);
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--slate);
    background-color: var(--white);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-box{
   display: flex;
   justify-content: space-between;
}
.logo-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--iris);
    display: inline-block;
    margin-right: 76px;
    padding: 24px 0;
}
.logo-studio{
    color: var(--navy-blue);
}
.link{
    text-decoration: none;
    display: inline-block;
    padding: 24px 0;
}
.link:hover,
.link:focus {
    color: var(--ocean);
    cursor: pointer;
}
.nav-box{
    display: flex;
    align-items: center;
}
.header-list-box{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.nav-list-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue); 
    display: inline-block;  
}
.nav-list-item > a {
    text-decoration: none;
    color: var(--navy-blue);
}
.addresses{
    font-style: normal;

}
.addresses > ul {
    list-style: none;
}
.address-item{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    display: inline-block;
}
.address-item > a {
    text-decoration: none;
    color: var(--slate)
}
.intro{
    background-color: var(--navy-blue);
    background-image: linear-gradient(var(--grey), var(--grey)), url(/images/people-office-table.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    margin: auto;
    max-width: 1440px;
}
.main-header{
    font-size:56px;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: 316px;
    line-height:1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white)
}
.button{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.order-button{
    background-color: var(--iris);
    color: var(--white);
    margin-left: 480px;
    min-width: 169px;
}

.order-button:hover,
.order-button:focus{
    background-color: var(--ocean);
    cursor: pointer;
}
.section{
    padding: 120px 0;
}
.third-section{
    padding-top: 0;
}
.section-portfolio{
    padding: 96px 0 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list-box{
    display: flex;
    gap: 24px;
}
.list{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.philo-list-item{
    width:calc((1158px - 3 * 24px )/4)
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    background-color: var(--cloud);
    border-radius: 4px;
    margin-bottom: 8px
}
.list-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}
.list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.social-media-icon{
    display: flex;
    justify-content: center;
    text-align: center;
}
.social-media-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 12px;
}
.social-media-link:hover,
.social-media-link:focus{
    background-color: var(--ocean);
    cursor: pointer;
}
.icon-fill{
    fill: var(--cloud)
}
.description-header{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}
.img-list{
    display: flex;
    gap: 24px;
}
.img-list-item{
    width: calc((1158-2*24)/3)
}
.our-team-section{
    background-color: var(--cloud);
}
.center{
    text-align: center;
}
.list-item{
    background-color: var(--white);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border: 1px solid var(--cornflower);
    border-top: none
}
.link-portfolio{
    display: block;
    background-color: var(--white);
    text-align: start;
    border-radius: 0px 0px 4px 4px;
    padding: 0;
}
.link-portfolio:hover,
.link-portfolio:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-name-p{
    padding: 32px 16px 32px;
    border: 1px solid var(--cornflower);
    border-top: none;
}
.team-name{
    padding: 32px 0;
}
.customers-logos{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.logo-container{
    width: calc((1158px-120px)/6);
    height: 88px;
    display: flex;
}
.logo-customer-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: var(--light-slate);
    padding: 16px 32px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    fill: var(--light-slate);
}
.logo-customer-link:hover,
.logo-customer-link:focus{
    fill: var(--ocean);
    border: 1px solid var(--ocean);
    border-radius: 4px;
    color: var(--ocean)
}
.custom-fill{
    fill: currentcolor;
}

.footer{
    background-color: var(--navy-blue);
    padding: 100px 0;
}
.logo-studio-footer{
    color: var(--cloud);
}
.logo-footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--iris);
    display: inline-block;
    margin-bottom: 16px;
}
.text-footer{
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    max-width: 264px;
}
.text-footer-sm{
    color: var(--white);
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-flex-box{
    display: flex;
    align-items: baseline;
}
.footer-flex-box-1 {
    margin-right: 120px;
}
.social-media-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}
.footer-icon-box{
    width: 40px;
    height: 40px;
}
.footer-social-media-icon {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--iris);
    border-radius: 50%;
    padding: 8px;
    width: 100%;
    height: 100%;
}
.footer-social-media-icon:hover,
.footer-social-media-icon:focus{
    background-color: var(--green)
}
.category-button{
    background-color: var(--cloud);
    color: var(--iris);
    padding: 12px 24px;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
}
.category-button:hover,
.category-button:focus{
    background-color: var(--ocean);
    color: var(--white);
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-box{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.portfolio-flex{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    row-gap: 48px;
}